@import "./variables.css";
@import "./colors.css";
@import "./base.css";
@import "./header.css";
@import "./footer.css";

.login-page, .welcome-page {
	background: url("../img/overlay.png"), url("../img/cherry.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center;
	background-repeat: repeat, no-repeat;
	height: 100%;
}

.kc-login-form {
	color: black;
}

.kc-login-form > .card {
	overflow: hidden;
}

.kc-login-form .kc-header-form {
	padding: 1.5rem !important;
}

.kc-login-form .kc-header-form > .h1, .kc-login-form .kc-header-form > h1 {
	font-size: 1.5rem;
	text-align: center;
	padding-top: 0.7rem;
}

.kc-login-form #kc-content {
	padding: 1.5rem !important;
}

@media (min-width: 350px) {
	.kc-login-form .card-header img {
		max-width: 300px;
	}
}
@media (min-width: 1200px) {
	.kc-login-form > .card {
		min-width: 600px;
	}
}

.kc-login-tooltip, .kc-login-tooltip * {
	color: #fff !important;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--header-height));
}

@media (min-width: 1200px) {
	main {
		max-width: 1200px;
	}
}