.kc-form-wrapper {
max-width: 78%; margin: 1rem auto; text-align: left; background-color: #fff; border-radius: 6px; box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02); color: #4a4a4a; display: block; padding: 1.25rem; padding-top: 1.5rem; padding-bottom: 3rem;
}

.kc-form-wrapper-header img {
padding-top: 1px; width: 18%; min-width: 140px; display: block; margin-left: auto; margin-right: auto;
}

.kc-form-wrapper-header h1 {
text-align: center !important; color: ##363636; font-weight: 600; line-height: 1.125; margin-bottom: 1.5rem; font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 2.3rem; font-kerning: normal; text-rendering: optimizelegibility; text-transform: none;
}

.kcBodyClass{
background-color: rgb(245, 245, 245);
}
