:root {
	--pf-global--primary-color--100: #06c;
	--pf-global--Color--100: #151515;
	--pf-global--Color--200: #6a6e73;
	--pf-global--Color--300: #3c3f42;
	--pf-global--Color--400: #8a8d90;
	--pf-global--Color--light-100: #fff;
	--pf-global--Color--light-200: #f0f0f0;
	--pf-global--Color--light-300: #d2d2d2;
	--pf-global--Color--dark-100: #151515;
	--pf-global--Color--dark-200: #6a6e73;
	--pf-global--active-color--100: #06c;
	--pf-global--active-color--200: #bee1f4;
	--pf-global--active-color--300: #2b9af3;
	--pf-global--active-color--400: #73bcf7;
	--pf-global--disabled-color--100: #6a6e73;
	--pf-global--disabled-color--200: #d2d2d2;
	--pf-global--disabled-color--300: #f0f0f0;
	--pf-global--primary-color--100: #06c;
	--pf-global--primary-color--200: #004080;
	--pf-global--primary-color--light-100: #73bcf7;
	--pf-global--primary-color--dark-100: #06c;
	--pf-global--secondary-color--100: #6a6e73;
	--pf-global--default-color--100: #73c5c5;
	--pf-global--default-color--200: #009596;
	--pf-global--default-color--300: #003737;
	--pf-global--success-color--100: #3e8635;
	--pf-global--success-color--200: #1e4f18;
	--pf-global--info-color--100: #2b9af3;
	--pf-global--info-color--200: #002952;
	--pf-global--warning-color--100: #f0ab00;
	--pf-global--warning-color--200: #795600;
	--pf-global--danger-color--100: #c9190b;
	--pf-global--danger-color--200: #a30000;
	--pf-global--danger-color--300: #470000;
	--pf-global--BackgroundColor--100: #fff;
	--pf-global--BackgroundColor--150: #fafafa;
	--pf-global--BackgroundColor--200: #f0f0f0;
	--pf-global--BackgroundColor--light-100: #fff;
	--pf-global--BackgroundColor--light-200: #fafafa;
	--pf-global--BackgroundColor--light-300: #f0f0f0;
	--pf-global--BackgroundColor--dark-100: #151515;
	--pf-global--BackgroundColor--dark-200: #3c3f42;
	--pf-global--BackgroundColor--dark-300: #212427;
	--pf-global--BackgroundColor--dark-400: #4f5255;
	--pf-global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
	--pf-global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);
	--pf-global--BorderColor--100: #d2d2d2;
	--pf-global--BorderColor--200: #8a8d90;
	--pf-global--BorderColor--300: #f0f0f0;
	--pf-global--BorderColor--dark-100: #d2d2d2;
	--pf-global--BorderColor--light-100: #b8bbbe;
	--pf-global--active-color--100: #06c;
	--pf-global--active-color--200: #bee1f4;
	--pf-global--FontSize--4xl: 2.25rem;
	--pf-global--FontSize--3xl: 1.75rem;
	--pf-global--FontSize--2xl: 1.5rem;
	--pf-global--FontSize--xl: 1.25rem;
	--pf-global--FontSize--lg: 1.125rem;
	--pf-global--FontSize--md: 1rem;
	--pf-global--FontSize--sm: 0.875rem;
	--pf-global--FontSize--xs: 0.75rem;
	--pf-global--FontWeight--light: 300;
	--pf-global--FontWeight--normal: 400;
	--pf-global--FontWeight--semi-bold: 700;
	--pf-global--FontWeight--overpass--semi-bold: 500;
	--pf-global--FontWeight--bold: 700;
	--pf-global--FontWeight--overpass--bold: 600;
	--pf-global--LineHeight--sm: 1.3;
	--pf-global--LineHeight--md: 1.5;
	--pf-global--BoxShadow--lg: 0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16), 0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
	--pf-global--BorderWidth--sm: 1px;
	--pf-global--BorderWidth--md: 2px;
	--pf-global--BorderWidth--lg: 3px;
	--pf-global--BorderWidth--xl: 4px;
	--pf-global--BorderColor--100: #d2d2d2;
	--pf-global--BorderColor--200: #8a8d90;
	--pf-global--BorderColor--300: #f0f0f0;
	--pf-global--BorderColor--dark-100: #d2d2d2;
	--pf-global--BorderColor--light-100: #b8bbbe;
	--pf-global--BorderRadius--sm: 3px;
	--pf-global--BorderRadius--lg: 30em;
	--pf-c-button--m-primary--Color: var(--pf-global--Color--light-100);
	--pf-c-button--m-primary--BackgroundColor: var(--pf-global--primary-color--100);
	--pf-c-button--m-control--after--BorderWidth: var(--pf-global--BorderWidth--sm);
	--pf-c-button--m-control--after--BorderTopColor: var(--pf-global--BorderColor--300);
	--pf-c-button--m-control--after--BorderRightColor: var(--pf-global--BorderColor--300);
	--pf-c-button--m-control--after--BorderBottomColor: var(--pf-global--BorderColor--200);
	--pf-c-button--m-control--after--BorderLeftColor: var(--pf-global--BorderColor--300);
	--pf-c-form-control--FontSize: var(--pf-global--FontSize--md);
	--pf-c-form-control--LineHeight: var(--pf-global--LineHeight--md);
	--pf-c-form-control--BorderWidth: var(--pf-global--BorderWidth--sm);
	--pf-c-form-control--PaddingTop: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
	--pf-c-form-control--PaddingBottom: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
	--pf-c-form-control--Height: calc(var(--pf-c-form-control--FontSize) * var(--pf-c-form-control--LineHeight) + var(--pf-c-form-control--BorderWidth) * 2 + var(--pf-c-form-control--PaddingTop) + var(--pf-c-form-control--PaddingBottom));
	--pf-c-form-control--hover--BorderBottomColor: var(--pf-global--primary-color--100);
	--pf-v5-global--FontSize--4xl: 2.25rem;
	--pf-v5-global--FontSize--3xl: 1.75rem;
	--pf-v5-global--FontSize--2xl: 1.5rem;
	--pf-v5-global--FontSize--xl: 1.25rem;
	--pf-v5-global--FontSize--lg: 1.125rem;
	--pf-v5-global--FontSize--md: 1rem;
	--pf-v5-global--FontSize--sm: 0.875rem;
	--pf-v5-global--FontSize--xs: 0.75rem;
	--pf-v5-c-login__main-footer--PaddingBottom: 3rem;
        --pf-v5-c-form__label--FontSize: 12px;
}

.kc-header-wrapper {
    background: linear-gradient(120deg, #003bac 4.69%, #0057ff 40.63%, #009959 95.31%);
    color: #fff;
    cursor: default;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    z-index: 10000;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-kerning: normal;
    text-rendering: optimizelegibility;
}

.kc-form-wrapper {
    max-width: 78%;
    margin: 4rem auto 1rem;
    text-align: left;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.kc-form-wrapper-header img {
    padding-top: 1px;
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kc-form-wrapper-header h1 {
    text-align: center !important;
    color: ##363636;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1.5rem;
    margin-top: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    font-kerning: normal;
    text-rendering: optimizelegibility;
    text-transform: none;
}

.kc-body {
    background-color: rgb(245, 245, 245);
}

#kc-header {
    background: #1053a0;
    color: #fff;
    cursor: default;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    z-index: 10000;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-kerning: normal;
    text-rendering: optimizelegibility;
    font-size: 1.2rem;
}

.pf-v5-c-login__main .login-pf-page-header {
    margin-bottom: 20px;
    text-align: center;
}

.pf-v5-c-login__main .card-pf {
    padding: 10px 20px 30px 20px;
    margin-bottom: 0;
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    max-width: 500px;
    border-top: 4px solid;
    border-color: var(--pf-global--primary-color--100);
    background: #fff;
}

.pf-v5-c-login__main .card-pf .login-pf-header{
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width: 768px) {
    .pf-v5-c-login__main .card-pf {
        padding: 20px 40px 30px 40px;
    }

    .pf-v5-c-login__main .card-pf .login-pf-header{
    	margin-bottom: 10px;
    	font-size: 24px;
    }

    .pf-v5-c-login__main .login-pf-page-header {
            margin-bottom: 40px;
    }
}

#kc-content-wrapper {
    margin-top: 20px;
}

#kc-page-title {
	font-size: 1.2rem;
	line-height: 1.4;
	text-align:left;
	margin-top: 1rem;
}

#kc-content {
    width: 100%;
}

#kc-content-wrapper {
    margin-top: 20px;
}

.pf-v5-c-login__main>:last-child:not(.pf-v5-c-login__main-footer) {
    padding-block-end: var(--pf-v5-c-login__main-footer--PaddingBottom);
}

#kc-form-wrapper {
    margin-top: 10px;
}

#kc-form-login div.form-group:last-of-type, #kc-register-form div.form-group:last-of-type, #kc-update-profile-form div.form-group:last-of-type, #kc-update-email-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

#kc-form-login .pf-v5-c-form-control {
	height: var(--pf-c-form-control--Height);
	text-overflow: ellipsis;

	--pf-c-form-control--Color: var(--pf-global--Color--100);
	--pf-c-form-control--FontSize: var(--pf-global--FontSize--md);
	--pf-c-form-control--LineHeight: var(--pf-global--LineHeight--md);
	--pf-c-form-control--BorderWidth: var(--pf-global--BorderWidth--sm);
	--pf-c-form-control--BorderTopColor: var(--pf-global--BorderColor--300);
	--pf-c-form-control--BorderRightColor: var(--pf-global--BorderColor--300);
	--pf-c-form-control--BorderBottomColor: var(--pf-global--BorderColor--200);
	--pf-c-form-control--BorderLeftColor: var(--pf-global--BorderColor--300);
	--pf-c-form-control--BorderRadius: 0;
	--pf-c-form-control--BackgroundColor: var(--pf-global--BackgroundColor--100);
	--pf-c-form-control--Width: 100%;
	--pf-c-form-control--Height: calc(var(--pf-c-form-control--FontSize) * var(--pf-c-form-control--LineHeight) + var(--pf-c-form-control--BorderWidth) * 2 + var(--pf-c-form-control--PaddingTop) + var(--pf-c-form-control--PaddingBottom));
	--pf-c-form-control--inset--base: var(--pf-global--spacer--sm);
	--pf-c-form-control--PaddingTop: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
	--pf-c-form-control--PaddingBottom: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
	--pf-c-form-control--PaddingRight: var(--pf-c-form-control--inset--base);
	--pf-c-form-control--PaddingLeft: var(--pf-c-form-control--inset--base);

	color: var(--pf-c-form-control--Color);
	width: var(--pf-c-form-control--Width);
	padding: var(--pf-c-form-control--PaddingTop) var(--pf-c-form-control--PaddingRight) var(--pf-c-form-control--PaddingBottom) var(--pf-c-form-control--PaddingLeft);
	font-size: var(--pf-c-form-control--FontSize);
	line-height: var(--pf-c-form-control--LineHeight);
	background-color: var(--pf-c-form-control--BackgroundColor);
	background-repeat: no-repeat;
	border-color: var(--pf-c-form-control--BorderTopColor) var(--pf-c-form-control--BorderRightColor) var(--pf-c-form-control--BorderBottomColor) var(--pf-c-form-control--BorderLeftColor);
	border-radius: var(--pf-c-form-control--BorderRadius);
	border: var(--pf-c-form-control--BorderWidth) solid;
}

#kc-form-login .pf-v5-c-form__label {
	font-size: var(--pf-v5-c-form__label--FontSize);
	font-weight: var(--pf-c-form__label-text--FontWeight);
        line-height: var(--pf-c-form__label--LineHeight);
}

#kc-form-login .pf-v5-c-form__group {
    margin-bottom: 15px;
}

#kc-form-login .pf-v5-c-form-control:hover {
    --pf-c-form-control--BorderBottomColor: var(--pf-c-form-control--hover--BorderBottomColor);
}

#kc-form-login .login-pf-settings {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#kc-form-buttons {
    margin-top: 20px;
}

.kc-social-section {
    text-align: center;
}

.kc-social-gray {
    color: var(--pf-global--Color--200);
}

.kc-social-section hr {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #f1f1f1;
}

.kc-social-section .pf-v5-c-login__main-footer-links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kc-social-section .pf-v5-c-login__main-footer-links li {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.kc-social-section .pf-v5-c-login__main-footer-links-item-link {
	--pf-c-button--m-control--BackgroundColor: var(--pf-global--BackgroundColor--100);
	--pf-c-button--m-control--Color: var(--pf-global--Color--100);
	--pf-c-button--m-control--BorderRadius: 0;
	--pf-c-button--m-control--after--BorderWidth: var(--pf-global--BorderWidth--sm);
	--pf-c-button--m-control--after--BorderTopColor: var(--pf-global--BorderColor--300);
	--pf-c-button--m-control--after--BorderRightColor: var(--pf-global--BorderColor--300);
	--pf-c-button--m-control--after--BorderBottomColor: var(--pf-global--BorderColor--200);
	--pf-c-button--m-control--after--BorderLeftColor: var(--pf-global--BorderColor--300);
	--pf-c-button--m-control--disabled--BackgroundColor: var(--pf-global--disabled-color--300);
	--pf-c-button--m-control--hover--BackgroundColor: var(--pf-global--BackgroundColor--100);
	--pf-c-button--m-control--hover--Color: var(--pf-global--Color--100);
	--pf-c-button--m-control--hover--after--BorderBottomWidth: var(--pf-global--BorderWidth--md);
	--pf-c-button--m-control--hover--after--BorderBottomColor: var(--pf-global--active-color--100);

	--pf-c-button--BorderRadius: var(--pf-c-button--m-control--BorderRadius);
        --pf-c-button--disabled--BackgroundColor: var(--pf-c-button--m-control--disabled--BackgroundColor);
        --pf-c-button--after--BorderWidth: var(--pf-c-button--m-control--after--BorderWidth);
        --pf-c-button--after--BorderColor: var(--pf-c-button--m-control--after--BorderTopColor) var(--pf-c-button--m-control--after--BorderRightColor) #f0f0f0 var(--pf-c-button--m-control--after--BorderBottomColor) var(--pf-c-button--m-control--after--BorderLeftColor);

        color: var(--pf-c-button--m-control--Color);
        background-color: var(--pf-c-button--m-control--BackgroundColor);
	font-size: 15px;
	text-align: center;
	position: relative;
	padding: var(--pf-c-button--PaddingTop) var(--pf-c-button--PaddingRight) var(--pf-c-button--PaddingBottom) var(--pf-c-button--PaddingLeft);
	font-size: var(--pf-c-button--FontSize);
	font-weight: var(--pf-c-button--FontWeight);
	line-height: var(--pf-c-button--LineHeight);
	white-space: nowrap;
	user-select: none;
	border: 0;
	border-radius: var(--pf-c-button--BorderRadius);
}

.kc-social-section .pf-v5-c-login__main-footer-links-item-link:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    content: "";
    border: var(--pf-c-button--after--BorderWidth) solid;
    border-color: var(--pf-c-button--after--BorderColor);
    border-radius: var(--pf-c-button--after--BorderRadius);
}

.kc-social-section .pf-v5-c-login__main-footer-links-item-link img {
	float: left; width: 25px; height: 25px; padding-left: 3px;
}

.kc-social-section .pf-v5-c-login__main-footer-links-item-link a {
	border-color: rgba(230, 230, 230, 0.5);
}

.kc-social-section .pf-v5-c-login__main-footer-links-item-link span {
    position: relative;
}
